<table>
    <tr>
        <th>Attribute</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Genre</td>
        <td>
            <?php echo $block->getcustomGenre();?>
        </td>
    </tr>
    <tr>
        <td>Year</td>
        <td>
            <?php echo $block->getcustomYear(); ?>
        </td>
    </tr>
    <tr>
        <td>Actors</td>
        <td>
            <?php echo $block->getcustomActors(); ?>
        </td>
    </tr>
    <tr>
        <td>Vote Average</td>
        <td>
            <?php echo $block->getcustomVoteAverage(); ?>
        </td>
    </tr>
    <?php if($block->getcustomProducer() != null):?>
        <tr>
            <td>Producer</td>
            <td>
                <?php echo $block->getcustomProducer(); ?>
            </td>
        </tr>
        <?php endif; ?>
        <?php if($block->getcustomDirector() != null):?>
            <tr>
                <td>Director</td>
                <td>
                    <?php echo $block->getcustomDirector(); ?>
                </td>
            </tr>
        <?php endif; ?>
</table>